.form-input {
  width: 200px;
  height: 40px;

  margin: 0rem 0.5rem;
  padding: 0 1rem;

  background: transparent;
  color: var(--fg-light);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  border: solid 1px #e3e3e3;
  border-radius: 6px;
}
